<section class="about__page" >
<mat-card>
  <h1 class="title"> Hogwarts School WEB </h1>
  <div class="about__container">
      <p class="about__paragraph">
        Proyecto realizado Por Moisés Camacho usando el framework Angular en su versión 11, además de las librerías de angular material, RxJS. Entre los días 11 a 13 de ago. de 21
      </p>
      <figure class="about__img">
        <!-- el rel y el as para mejorar el CEO de la pagina -->
        <img src="/assets/images/web_dev.svg" alt="" class="about__picture" rel="preload" as="image" width="406" height="306" >
      </figure>
    </div>
  <p class="about__copy">
    Developed by <span class="text-white">Moises Camacho</span>
  </p>

</mat-card>
  </section>
